{% extends 'su/base.html' %}

{% load staticfiles %}



{% block block1 %}
<div id="main">
<div><h2 align="center"><u>Mission</u></h2>
									<p><span class="image left"><img src="{% static 'download.jpg' %}" alt="" width="310" /></span>To earnestly represent the interests of students of BITS Pilani and to improve
campus life through the creation and continuation of viable and effective student services, to
preserve and protect the traditions and legends of the University, and to support students
and student organizations in their academic and community endeavors.
Managing and directing student activities of over 4000 students may seem like a daunting task, while
doing so for an Indian Institute of Emminence like BITS Pilani might even compound ones
trepidations. Yet, as they say, there is always a group of a few good men, who strive in face of such
odds. The Students' Union of BITS Pilani Campus is one such group, comprising of elected members
from the GBM, it is headed by the President and General Secretary of the the Students' Union.
Some of the common adjectives often associated with the Students' Union are dedicated, exemplary,
charismatic and of course, hardworking.</p>
<p><span class="image right"><img src="{% static 'bg.jpg' %}" alt="" /></span>The Students' Union is responsible for driving many student initiatives and become a channel of communication between student body and administration. The various roles the Union undertakes includes managing various major college Fests such as the APOGEE and OASIS. These fests are one of the biggest in its league in India. They also manage the student bodies, clubs, departments and associations on campus.  The Students' Union has always proven to be a stimulus for positive change year on year and continue to be the pride of BITS Pilani. Some of the projects driven by Students' Union are Installation of Snack Vending Machine, Coffee Machines in hostels, starting food joints like Looters, Introducing ID card services at ANC, FK, Looters, IC, Insulation of water tanks, Introducing motion sensors in washrooms to save electricity, Peer mentorship Programme, etc.
</p><p>
The primary objective of this web portal is to streamline mess signings and make them more
transparent with a well defined process, in order to eliminate any possibility of fake signing or
signings due to peer pressure, while making the cancellation process far more simpler than before.</p>


       </div></div>

{% endblock %}
