{% extends 'su/base.html' %}
{% load staticfiles %}

{% block block1 %}
<div id="main" align="center">
<article class="student featured">

{% if user.is_active %}

<h2 class="intro-text text-center"><strong><u>Merchandise</u></strong>
</h2>

<table id="example" class="table table-hover" align ="center">
<thead>
	<tr>
	    	<th>Name</th>
	    	<th>Active Upto</th>
	    	<th>Cancellation Deadline</th>
		<th>Type</th>
	</tr>
</thead>
<tbody>
	{% for i in wear %}
	<tr>
	<td><a href="/su/student/item/{{ i.gm_id }}/">{{i.name}}</a></td>
	<td>{{i.date}}</td>
	<td>{{i.deadline}}</td>
	<td>{{i.meal}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>

<h2 class="intro-text text-center"><strong><u>Events</u></strong>
</h2>
<table id="example" class="table table-hover" align="center">
<thead>
	<tr>
	    	<th>Name</th>
	    	<th>Active Upto</th>
	    	<th>Cancellation Deadline</th>
		<th>Type</th>
	</tr>
</thead>
<tbody>
	{% for i in event %}
	<tr>
	<td><a href="/su/student/item/{{ i.gm_id }}/">{{i.name}}</a></td>
	<td>{{i.date}}</td>
	<td>{{i.deadline}}</td>
	<td>{{i.meal}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% else %}
<h3>You are not allowed to view this page</h3>
<h3>Login to View this page</h3>
{% endif %}
</article>
</div>
{% endblock %}


{% block script %}

<script>
	$(document).ready(function({
        "lengthMenu": [[10, 25, 50, 100, 200, 300, -1], [10, 25, 50, 100, 200, 300, "All"]]
    } ) {
    $('#example').DataTable();
} );
	$(document).ready(function({
        "lengthMenu": [[10, 25, 50, 100, 200, 300, -1], [10, 25, 50, 100, 200, 300, "All"]]
    } ) {
    $('#example2').DataTable();
} );
	$(document).ready(function() {
    $('#example3').DataTable({
        "lengthMenu": [[10, 25, 50, 100, 200, 300, -1], [10, 25, 50, 100, 200, 300, "All"]]
    } );
} );
	$(document).ready(function() {
    $('#example4').DataTable({
        "lengthMenu": [[10, 25, 50, 100, 200, 300, -1], [10, 25, 50, 100, 200, 300, "All"]]
    } );
} );
</script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>


{% endblock %}
